body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #1e293b;
  color: #fff;
}

nav a {
  color: #fff;
  margin-left: 1.5rem;
  text-decoration: none;
  font-weight: 700;
}

nav a:hover {
  font-weight: bold;
}

a {
  cursor: pointer;
}

.logo {
  font-size: larger;
  cursor: not-allowed;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 5rem;
}

.hero1 {
  width: 50%;
  font-size: 2rem;
}
.hero2 {
  width: 50%;
}
.hero2 img {
  width: 100%;
}

.about h1 {
  text-align: center;
  font-size: 2rem;
}
